body{
font-family: 'Courier New', Courier, monospace;
background-color: rgb(148, 46, 46);

  background:
    linear-gradient(
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
    ),
    url("../img/img.cenario/Templo.png");  

  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}

@media (max-width: 768px) {
  .menu2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.menu2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  justify-items: center;   
  align-items: start;

  padding: 20px;

  background-color: rgb(20, 20, 37);
  max-width: 800px;
  margin: auto;

  text-align: center;
  border: 2px solid rgb(252, 252, 252);
  border-radius: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}


.item img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #0b1014;
}
