body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.video-container {
    position: relative; 
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}

#meuVideoFundo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover; 
  }
@media (max-width: 768px) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
  }
}


.cabeca {
  color: rgba(0, 0, 0, 0.63);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: rgb(180, 48, 48);
  font-size: 23px;
  padding: 20px 10px;
  margin: 50px;
  border-radius: 10px;
  border: 4px double rgb(172, 12, 12);
}

.sobre{
  background-color:  rgb(180, 48, 48);
  border-radius: 10px;
  border: 4px double rgb(180, 48, 48);
  font-size: 20px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 40px;
  background-color: rgb(19, 19, 31);
  width: 800px;
  margin: auto;
  text-align: center;
  border: 2px solid rgb(216, 213, 213);
  border-radius: 10px;
}


.item {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}


.item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0b1014;
}


.item span {
  display: block;
  margin-top: 10px;
  color: #7ec8ff;
  font-weight: bold;
}
