body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/img.boss_th9/background.png)  ;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  color: #ffffff;
  margin: 0;
}

.page {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
}


.texto {
  flex: 2;
  line-height: 1.6;
  text-align: left;
}


.descricao {
  flex: 1;
  width: 360px;
  background: #db12cb;
  border-radius: 6px;
  overflow: hidden;
  position: sticky;
  top: 20px;
}


.nome {
  background: #13c513;
  text-align: center;
  padding: 10px;
}

.nome h1 {
  font-size: 16px;
  margin: 0;
  color: #fff;
}

.versao {
  display: flex;
}

.versao button {
  flex: 1;
  padding: 8px;
  background: #bb0c95;
  border: none;
  color: #fff;
  cursor: pointer;
}

.versao button.ativar {
  color: #000000;
  border-bottom: 2px solid #020005;
}


.content {
  background: #0cc716;
  padding: 15px;
  text-align: center;
}

.content img {
  width: 100%;
  display: block;
}

@media (max-width: 900px) {
  .page {
    flex-direction: column;
  }

  .descricao {
    position: static;
    width: 100%;
  }
}

