body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/img.cenario/cenario9.png)  ;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  color: #ddd;
  margin: 0;
}

.page {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
}


.texto {
  flex: 2;
  line-height: 1.6;
  text-align: left;
}


.audio-list {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}


.audio-2 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: #000000;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}


.audio-2 h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
}


.audio-2 audio {
  width: 100%;
  height: 38px;
  border-radius: 8px;
}



.descricao {
  flex: 1;
  width: 360px;
  background: #000000;
  border-radius: 6px;
  overflow: hidden;
  position: sticky;
  top: 20px;
}


.nome {
  background: #050501;
  text-align: center;
  padding: 10px;
}

.nome h1 {
  font-size: 16px;
  margin: 0;
  color: #fff;
}


.content {
  background: #290750;
  padding: 15px;
  text-align: center;
}

.content img {
  width: 100%;
  display: flex;
}


.informacao {
  background: #000000;
  padding: 10px;
  color: #fff;
}


@media (max-width: 900px) {
  .page {
    flex-direction: column;
  }

  .descricao {
    position: static;
    width: 100%;
  }
}