body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
}

.fontes{
    background-color: black;
    width: 500px;
    width: 500px;
}
@media (max-width: 900px) {
  .page {
    flex-direction: column;
    margin: 15px auto;
    gap: 20px;
  }

  .descricao {
    position: static;
    max-width: 100%;
    order: -1;
  }
}
@media(min-width: 480px){
  body{
    font-size: 14px;
  }
  .page{
    padding: 0 10px;
  }
  .texto{
    padding: 15px;
  }
}