body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
}

.fontes{
    background-color: black;
    width: 500px;
    width: 500px;
}